*,
*::after,
*::before {
  list-style: none;
  text-transform: none;
  text-decoration: none;
  text-align: none;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #212121;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.container {
  max-width: 1600px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.section {
  padding: 94px 0px;
}

.menu__link:hover,
.menu__link :focus, .address__link:hover,
.address__link :focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}

.menu__link--active::after {
  content: "";
  width: 58px;
  height: 4px;
  position: absolute;
  top: 42.5px;
  left: 0;
  right: 0;
  background-color: #2196f3;
  border-radius: 10px 10px 10px 10px;
}

.menu, .address {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
  margin-left: 93px;
  margin-right: 301px;
}

.menu__link {
  margin-right: 46px;
  color: #212121;
  position: relative;
}

.address__link {
  margin-right: 50px;
  color: #757575;
  fill: #757575;
}

.address__icon {
  margin-right: 10px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 24px 0 25px 215px;
}

.logo--decor {
  color: #2196f3;
}

.container--headbox {
  background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url("../images/headerbg.jpg");
  background-color: #2f303a;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.head-box__title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
}

.button {
  border: none;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 42px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  background-color: #56b3ff;
  transition-duration: 250ms;
}

.button__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

/* ===== Modal box styles =====*/
.form-modal__text, .form-modal__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-modal__button:focus, .form-modal__link:hover, .form-modal__link:focus {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 500ms linear, visibility 500ms linear, opacity 500ms linear;
}

.is-hidden {
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}

.modal__close:hover {
  color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px;
}

.modal__item {
  margin-bottom: 10px;
  position: relative;
}

.modal__item:focus-within {
  fill: #2196f3;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 40px;
}

.modal__input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 4px 40px 10px 40px;
  padding: 12px 0 12px 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus-within {
  outline: 1px solid #2196f3;
}

.modal__icon {
  margin-left: 40px;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
  position: absolute;
}

.modal__comment {
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-family: inherit;
  height: 120px;
  width: 448px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-left: 40px;
  padding: 12px 16px;
}

.modal__comment:focus-within {
  outline: 1px solid #2196f3;
}

.form-modal__tick-box {
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}

.form-modal__tick-box:focus-within {
  border-color: #2196f3;
}

.form-modal__tick {
  z-index: 102;
  padding: 2px;
  border-radius: 3px;
  width: 18px;
  height: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  position: absolute;
}

.form-modal__send {
  display: flex;
  justify-content: center;
}

.form-modal__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 76px;
  background-color: #2196f3;
  border-radius: 4px;
}

.form-modal__button:focus {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-modal__agreement {
  display: flex;
  justify-content: center;
  margin: 20px 0px 30px 0px;
}

.form-modal__link {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 16px;
  /* opacity: 0%; */
  appearance: none;
}

.checkbox:checked + .form-modal__tick {
  background-color: #2196f3;
  border: none;
}

.form-agreement > input {
  margin-right: 8px;
  align-items: center;
}

.input-box:focus-within {
  outline: 1px solid #2196f3;
}

/* ===== End Modal box styles =====*/
/* ===== Adv styles ===== */
.adv {
  display: flex;
  align-items: center;
  width: 1200px;
}

.adv__item:not(:last-child) {
  margin-right: 30px;
}

.adv__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.adv__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.adv__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ===== End Adv styles ===== */
/* ===== We do styles ===== */
.we-do {
  width: 1200px;
}

.we-do__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.we-do__list {
  display: flex;
}

.we-do__item:not(:last-child) {
  margin-right: 30px;
}

.we-do__card {
  position: relative;
}

.we-do__card-desc {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  top: 224px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* ===== End we do styles ===== */
/* ===== Team styles ===== */
.container--team {
  background-color: #f5f4fa;
  margin-top: 94px;
}

.team__header {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team__card {
  margin: 0;
  max-width: 270px;
  max-height: 428px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-desc {
  padding-top: 30px;
}

.team__card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__card-workplace {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.team__social-items {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 206px;
  padding-top: 16px;
  padding-bottom: 18px;
}

.team__social-button {
  display: inline-flex;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-button:not(:last-child) {
  margin-right: 10px;
}

.team__social-button:hover, .team__social-button:focus, .team__social-button:active {
  background-color: #2196f3;
  fill: #ffffff;
}

/* ===== End team styles ===== */
/* ===== Clients styles ===== */
.clients {
  padding-top: 94px;
}

.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
  color: #212121;
}

.clients__list {
  display: flex;
  margin-bottom: 94px;
}

.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 92px;
  margin: 0 15px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms, border 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

/* ===== End clients styles ===== */
/* ===== Footer styles ===== */
.footercontent {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer__link {
  color: #ffffff;
}

.footer__link--decor {
  color: #2196f3;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link:hover, .footer__address-link:focus {
  color: #2196f3;
}

/*-----------------------------*/
.footer-social {
  padding-left: 70px;
  margin-right: 78px;
}

.footer-social__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social__list {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}

.footer-social__item {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item:hover, .footer-social__item:focus {
  background: #2196f3;
  cursor: pointer;
}

/* ---------------------------------- */
.footer-newsletter {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.footer-newsletter__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.footer-newsletter__label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-newsletter__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-newsletter__input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.footer-newsletter__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.footer-newsletter__btn:hover, .footer-newsletter__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ===== End Footer styles ===== */
/* ===== Button Styles ===== */
.buttons__list {
  display: flex;
  justify-content: center;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.buttons__button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__button:hover, .buttons__button:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== End button Styles ===== */
/* ===== Projects Grid Styles ===== */
.grid__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  padding: 0;
  margin-bottom: 94px;
}

.grid__item {
  position: relative;
  width: 370px;
}

.grid__item:hover, .grid__item:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  margin: 0;
  position: relative;
}

.card__overlay {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.card__overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 49px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms;
}

.card__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card__image {
  display: block;
}

.card__info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__desc {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.card:hover .card__overlay-box {
  transform: translatex(0);
  background: rgba(33, 150, 243, 0.9);
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== End Projects Grid Styles ===== */

/*# sourceMappingURL=main.css.map */