@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
img {
    display: block;
}
:root {
    --body-color: #000000;
    --link-color: #2196f3;
    --contact-color: #757575;
    --header-color: #212121;
    --header-box-bg: #2f303a;
    --header-text-color: #ffffff;
    --button-bg-hover: #2196f3;
    --button-bg: #f5f4fa;
    --line-color: #ececec;
    --team-bg: #f5f4fa;
    --icon-bg: #afb1b8;
    --svg-background: rgba(255, 255, 255, 0.1);
}
body {
    font-family: "Roboto", sans-serif, "Raleway", sans-serif;
    width: 1600px;
    color: var(--body-color);
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}
.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 42.5px;
    background: var(--link-color);
    height: 4px;
    border-radius: 10px 10px 10px 10px;
}
/* ===== Modal box styles =====*/
.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 500ms linear, visibility 500ms linear,
        opacity 500ms linear;
}

.is-hidden {
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--header-text-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--header-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    cursor: pointer;
}

.modal__close:hover {
    color: var(--link-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form {
    display: flex;
    flex-direction: column;
}
.modal__p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    padding: 40px;
}

.modal__item {
    margin-bottom: 10px;
    position: relative;
}
.modal__item:focus-within {
    fill: var(--link-color);
}
.modal__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--contact-color);
    margin-left: 40px;
}
.modal__input {
    display: block;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 4px 40px 10px 40px;
    padding: 12px 0 12px 42px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
    margin-left: 40px;
    width: 18px;
    height: 18px;
    bottom: 11px;
    left: 12px;
    position: absolute;
}
.modal__comment {
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    font-family: inherit;
    height: 120px;
    width: 448px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-left: 40px;
    padding: 12px 16px;
}
.modal-checkbox {
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}
.modal-checkbox__box {
    width: 16px;
    height: 15px;
    position: relative;
    border: 2px solid var(--header-color);
    border-radius: 3px;
    margin-right: 8px;
}
.modal-checkbox__box:hover,
.modal-checkbox__box:focus-within {
    border-color: var(--button-bg-hover);
}
.modal-checkbox__input {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 16px;
    appearance: none;
    margin-right: 8px;
    align-items: center;
}
.modal-checkbox__input:checked + .modal-checkbox__icon {
    background-color: var(--button-bg-hover);
    border: none;
}

.modal-checkbox__icon {
    z-index: 102;
    padding: 2px;
    border-radius: 3px;
    width: 18px;
    height: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
    position: absolute;
}
.agreement__text,
.agreement__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}
.agreement__link {
    color: var(--link-color);
    text-decoration: underline;
}
.modal-form {
    display: flex;
    justify-content: center;
}
.modal-form__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
    padding: 10px 76px;
    background-color: var(--link-color);
    border-radius: 4px;
    border: 1px solid var(--button-bg-hover);
}
.modal-form__button:hover,
.modal-form__button:focus {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.agreement__link:hover,
.modal-checkbox__input:hover,
.agreement__link:focus,
.modal-checkbox__input:focus {
    cursor: pointer;
}
.modal__input:focus-within,
.modal__comment:focus-within {
    outline: 1px solid var(--link-color);
}
/* ===== End Modal box styles =====*/
/* ===== HEADER styles ===== */
.header {
    border-bottom: 1px solid var(--line-color);
}
.header .container {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;
}
.nav {
    display: flex;
}
.nav__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.nav__logo-link {
    color: var(--body-color);
}
.nav__logo-link--decor {
    color: var(--link-color);
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 46px;
}
.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--header-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
    color: var(--button-bg-hover);
}
header .nav-contacts {
    margin-left: auto;
}
.nav-contact__link {
    color: var(--body-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    margin-right: 50px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contact__link:hover,
.nav-contact__link:focus {
    color: var(--button-bg-hover);
}
.nav-contact__icon {
    margin-right: 10px;
    fill: var(--contact-color);
}
.nav-contact__icon:hover,
.nav-contact__icon:focus {
    fill: var(--link-color);
}
/* ===== End HEADER styles ===== */
/* ===== INDEX styles ===== */
/* ===== Head box styles =====*/
.index-section1 {
    background: var(--header-box-bg);
    background-image: url("../images/headerbg.jpg");
    max-width: 1600px;
    box-shadow: inset 50px 50px 50px 50px rgba(47, 48, 58, 0.4),
        inset 1600px 600px 50px 50px rgba(47, 48, 58, 0.4);
}
.head-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}
.head-box__header {
    color: var(--header-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
}
.head-box__button {
    width: 200px;
    height: 50px;
    color: var(--header-text-color);
    background: var(--button-bg-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--button-bg-hover);
    border-radius: 4px;
    cursor: pointer;
}
.button__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}
/* ===== End head box styles =====*/
/* ===== Adv styles ===== */
.index-section2 {
    padding-top: 94px;
}
.adv__list {
    display: flex;
    align-items: center;
}
.adv__item:not(:last-child) {
    margin-right: 30px;
}
.adv__icon {
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--team-bg);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
}
.adv__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}
.adv__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

/* ===== End Adv styles ===== */
/* ===== We do styles ===== */
.index-section3 {
    padding-top: 94px;
    padding-bottom: 94px;
}
.we-do__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 50px;
}
.we-do__list {
    display: flex;
}
.we-do__item:not(:last-child) {
    margin-right: 30px;
}
.we-do__card {
    position: relative;
}
.we-do__card-desc {
    position: absolute;
    display: flex;
    width: 370px;
    height: 70px;
    top: 224px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
    background: rgba(47, 48, 58, 0.8);
}
/* ===== End we do styles ===== */
/* ===== Team styles ===== */
.index-section4 {
    background-color: var(--team-bg);
}
.team__header {
    padding-top: 94px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}
.team__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.team__card {
    margin: 0;
    max-width: 270px;
    max-height: 428px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.team__card-desc {
    padding-top: 30px;
}

.team__card-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
.team__card-workplace {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin-top: 10px;
}
.team__social-items {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 206px;
    padding-top: 16px;
    padding-bottom: 18px;
}
.team__social-button {
    display: inline-flex;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-bg);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-button:not(:last-child) {
    margin-right: 10px;
}

.team__social-button:hover,
.team__social-button:focus,
.team__social-button:active {
    background-color: var(--link-color);
    fill: var(--header-text-color);
}
/* ===== End team styles ===== */
/* ===== Clients styles ===== */
.index-section5 {
    padding-top: 94px;
}

.clients__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin: 0;
    color: var(--header-color);
}

.clients__list {
    display: flex;
    margin-bottom: 94px;
}

.clients__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    width: 170px;
    height: 92px;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
    fill: var(--icon-bg);
    transition: fill 250ms, border 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover,
.clients__item:focus {
    fill: var(--link-color);
    border-color: var(--link-color);
    cursor: pointer;
}
/* ===== End clients styles ===== */
/* ===== End INDEX styles ===== */
/* ===== PORTFOLIO styles ===== */
/* ===== Button Styles ===== */
.portfolio-section1 {
    padding-top: 94px;
}
.buttons__list {
    display: flex;
    justify-content: center;
}

.buttons__item:not(:last-child) {
    margin-right: 8px;
}
.buttons__button {
    color: var(--header-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    background: var(--button-bg);
    cursor: pointer;
    padding: 6px 22px;
    transition-property: color, background, box-shadow;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__button:hover {
    color: var(--header-text-color);
    background: var(--button-bg-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ===== End button Styles ===== */
/* ===== Projects Grid Styles ===== */
.portfolio-section2 {
    padding-top: 34px;
}
.portfolio-section2 .container {
    padding: 0;
}
.grid__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1250px;
    padding: 0;
    margin-bottom: 94px;
}
.grid__item {
    position: relative;
    width: 370px;
}
.grid__item:hover,
.grid__item:focus {
    background: var(--header-text-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card {
    margin: 0;
    position: relative;
}
.card:hover .card__overlay-box {
    transform: translatex(0);
    background: rgba(33, 150, 243, 0.9);
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__overlay {
    position: relative;
    overflow: hidden;
    height: 294px;
}
.card__overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 49px;
    padding-left: 24px;
    transform: translateY(100%);
    transition: transform 250ms;
}
.card__overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}
.card__image {
    display: block;
}
.card__info {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.card__header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
}
.card__desc {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}
/* ===== End Projects Grid Styles ===== */
/* ===== End PORTFOLIO Styles ===== */
/* ===== Footer styles ===== */
.footer {
    background-color: var(--header-box-bg);
    padding: 60px 0;
}
.footercontent {
    display: flex;
}
.footer__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.footer__link {
    color: var(--header-text-color);
}
.footer__link--decor {
    color: var(--link-color);
}
.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}
.footer__address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover,
.footer__address-link:focus {
    color: var(--button-bg-hover);
}
/*-----------------------------*/
.footer-social {
    padding-left: 70px;
    margin-right: 78px;
}

.footer-social__header,
.footer-newsletter__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
    margin: 0;
}

.footer-social__list {
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.footer-social__item {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--header-text-color);
    background: var(--svg-background);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item:hover,
.footer-social__item:focus {
    background: var(--link-color);
    cursor: pointer;
}
/* ---------------------------------- */
.footer-newsletter {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}
.footer-newsletter__label {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-newsletter__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-newsletter__input::placeholder {
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}
.footer-newsletter__btn {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    justify-content: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.footer-newsletter__btn:hover,
.footer-newsletter__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ===== End Footer styles ===== */
