// FONT COLORS //
$font-color-white: #ffffff;
$font-color-black: #000000;
$font-color-blue: #2196f3;
$font-color-menu: #212121;
$font-color-headers: #212121;
$font-color-contact: #757575;
$font-footer-address-link: rgba(255, 255, 255, 0.6);


// BACKGROUND COLORS //
$background-color-main: #2f303a;
$background-color-team: #f5f4fa;
$background-color-body: #fff;
$background-color-three: #eeeeee;
$background-color-portfolio-button-hover: #2196f3;
$background-color-portfolio-button: #f5f4fa;


// LETTER SPACING //
$letter-spacing-all: 0.03em;
$letter-spacing-main-title: 0.06em;


// ICON COLORS//
$icon-fill-color: #fff;
$icon-base-color: #afb1b8;
$icon-background-color: #2196f3;
$icon-background-color-box: #f5f4fa;
$icon-background-svg: rgba(255, 255, 255, 0.1);


$bordered-header-color: #ececec;
