/* ===== Button Styles ===== */
.buttons {
    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__button {
        color: $font-color-headers;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: $letter-spacing-all;
        border-radius: 4px;
        border: none;
        background: $background-color-portfolio-button;
        cursor: pointer;
        padding: 6px 22px;
        transition-property: color, background, box-shadow;
        transition-duration: 250ms, 250ms, 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $font-color-white;
            background: $background-color-portfolio-button-hover;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}

/* ===== End button Styles ===== */