/* ===== Clients styles ===== */
.clients {
    padding: 60px 0;

    &__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: $letter-spacing-all;
        padding-bottom: 30px;
        margin: 0;
        color: $font-color-headers;
    }

    &__list {
        display: flex;
        // column-gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        border: 1px solid $icon-base-color;
        border-radius: 4px;
        display: flex;
        width: 170px;
        height: 92px;
        margin: 0 15px;
        justify-content: center;
        align-items: center;
        fill: $icon-base-color;
        transition: fill 250ms, border 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $icon-background-color;
            border-color: $icon-background-color;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .clients {
        padding: 60px 0px;

        &__header {
            padding-bottom: 30px;
        }

        &__item {
            flex-basis: calc(100% / 3 - 15px);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients {
        padding: 60px 0px;

        &__item {
            flex-basis: calc(100% / 3 - 30px);
        }
    }
}

@media screen and (min-width: 1200px) {
    .clients {
        padding: 94px 0;
        max-width: 1200px;

        &__header {
            padding-bottom: 50px;
        }

        &__list {
            display: flex;
            // column-gap: 30px;
            row-gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        &__item {
            flex-basis: 00%;
            min-width: calc((100% / 6) - 30px);
            min-height: 92px;
        }
    }
}

/* ===== End clients styles ===== */