/* ===== Modal box styles =====*/
%form_modal_text_and_link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: $letter-spacing-all;
    color: $font-color-contact;
}

%cursor_form {
    cursor: pointer;
}

.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 500ms linear, visibility 500ms linear,
        opacity 500ms linear;
}

.is-hidden {
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: $background-color-body;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: $background-color-body;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            color: $font-color-blue;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__p {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: $letter-spacing-all;
        color: $font-color-headers;
        padding: 40px;
    }

    &__item {
        margin-bottom: 10px;
        position: relative;

        &:focus-within {
            fill: $font-color-blue;
        }
    }

    &__label {
        display: block;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $font-color-contact;
        margin-left: 40px;
    }

    &__input {
        display: block;
        width: 448px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin: 4px 40px 10px 40px;
        padding: 12px 0 12px 42px;
        transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within {
            outline: 1px solid $font-color-blue;
        }
    }

    &__icon {
        margin-left: 40px;
        width: 18px;
        height: 18px;
        bottom: 11px;
        left: 12px;
        position: absolute;

    }

    &__comment {
        transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        font-family: inherit;
        height: 120px;
        width: 448px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        margin-left: 40px;
        padding: 12px 16px;

        &:focus-within {
            outline: 1px solid $font-color-blue;
        }

    }

}

.form-modal {
    &__tick-box {
        width: 16px;
        height: 15px;
        position: relative;
        border: 2px solid $font-color-headers;
        border-radius: 3px;
        margin-right: 8px;

        &:focus-within {
            border-color: $font-color-blue;

        }
    }

    &__tick {
        z-index: 102;
        padding: 2px;
        border-radius: 3px;
        width: 18px;
        height: 17px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $font-color-white;
        position: absolute;
    }

    &__send {
        display: flex;
        justify-content: center;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        text-align: center;
        letter-spacing: $letter-spacing-main-title;
        color: $font-color-white;
        padding: 10px 76px;
        background-color: $background-color-portfolio-button-hover;
        border-radius: 4px;

        &:focus {
            transition-property: box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            @extend %cursor_form;
        }
    }

    &__agreement {
        display: flex;
        justify-content: center;
        margin: 20px 0px 30px 0px;
    }

    &__text,
    &__link {
        @extend %form_modal_text_and_link;
    }

    &__link {
        color: $font-color-blue;
        text-decoration: underline;

        &:hover,
        &:focus {
            @extend %cursor_form;
        }
    }
}

.checkbox {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 16px;
    /* opacity: 0%; */
    appearance: none;
}

.checkbox:checked+.form-modal__tick {
    background-color: $font-color-blue;
    border: none;
}

.form-agreement {
    &>input {
        margin-right: 8px;
        align-items: center;
    }
}

.input-box:focus-within {
    outline: 1px solid $font-color-blue;
}

/* ===== End Modal box styles =====*/