/* ===== Team styles ===== */
.container {
    &--team {
        background-color: $background-color-team;

    }
}

.team {
    &__picture {
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__header {
        padding-top: 60px;
        padding-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: $letter-spacing-all;
    }

    &__list {
        column-gap: 30px;

    }

    &__item {
        background-color: $background-color-body;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 16px;
    }

    &__card-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: $letter-spacing-all;
        color: $font-color-headers;

    }

    &__card-workplace {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: $letter-spacing-all;
        color: $font-color-contact;
    }

    &__social-list {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    &__social-items {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 206px;
        padding-top: 16px;

    }

    &__social-button {
        display: inline-flex;
        padding: 12px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $icon-base-color;
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $icon-background-color;
            fill: $font-color-white;
        }
    }

    &__social-icon {
        width: auto;
        height: 20px;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .team {
        &__title {
            padding-bottom: 30px;
        }

        &__list {
            column-gap: 30px;
        }

        &__item {
            padding-bottom: 24px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team {
        &__title {
            padding-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            justify-content: center;
        }

        &__item {
            flex-basis: calc(50% - 15px);
            width: 100%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .team {
        &__list {
            display: flex;
        }

        &__img {
            max-width: 279px;
        }

        &__item {
            width: 100%;
        }

        &__social_items {
            padding-bottom: 18px;
        }
    }
}

/* ===== End team styles ===== */